Hmmm.

<form action="/home/killserver">
	<button type="submit">Add job that runs for more than 5 mins</button>
</form>

<form action="/home/lotsajobs">
	<button type="submit">Add 100 jobs</button>
</form>